body{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-family: fantasy;
    background-color: black;
}

.header{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0;
}
.header img{
    height: 10vh;
    margin-right: 5vw;
    border: 0.2vw solid greenyellow;
    border-radius: 50%;
    background-color: greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

.header span{
    color: white;
    font-size: 5vh;
}

.game{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50vw;
    max-width: 50vw;
    border-radius: 2vw;
    background-image: url("floor.jpg");
    background-size: contain;
    border: 0.3vw solid rgba(112, 39, 4, 1);
    margin:0 5vw;
}

.table{
    margin: 0 5vw;
    width: 6vw;
    height: 6vw;
    background-image: url("tlo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0.3vw solid black;
    border-radius: 1vw;
}

#player, #ai{
    width: inherit;
    height: inherit;
    background-image: none;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#winner{
    opacity: 0%;
    color:black;
    text-shadow: 0 0 1px white;
    font-size: 2vw;
    background-image: url("inform.jpg");
    background-size: contain;
    background-position: center;
    padding: 0 2vw;
    border: 0.2vw solid black;
    border-radius: 1vw;
}

.results{
    min-width: 15vw;
    max-width: 15vw;
    color: #cdb400;
    font-size: 1.5vw;
    text-align: center;
}

.history{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2vw;
    margin-bottom: 2vh;
}

.history div{
    height: 2vw;
    width: 2vw;
    background-image: none;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.2vw;
    box-shadow: 0 0 50px rgba(112, 39, 4, 1);
    border: 0.1vw solid white;
}

#hist div:nth-child(1) div:nth-child(1), #hist div:nth-child(1) div:nth-child(2){
    background-color: #f15858;
}
#hist div:nth-child(2) div:nth-child(1), #hist div:nth-child(2) div:nth-child(2){
    background-color: #f45c73;
}
#hist div:nth-child(3) div:nth-child(1), #hist div:nth-child(3) div:nth-child(2){
    background-color: #f3648d;
}
#hist div:nth-child(4) div:nth-child(1), #hist div:nth-child(4) div:nth-child(2){
    background-color: #ee6fa4;
}
#hist div:nth-child(5) div:nth-child(1), #hist div:nth-child(5) div:nth-child(2){
    background-color: #e57bb9;
}

.text{
    line-height: 0.5vw;
}

.results div:last-child{
    margin-bottom: 0;
}
.results #hist{
    padding-top: 1vw;
    border-top:  0.2vw solid white;
}

#history{
    border-top: 0.2vw solid white;
    margin-top: 2vh;
}

.options{
    min-width: 15vw;
    max-width: 15vw;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.btn{
    width: 4vw;
    height: 4vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgba(112, 39, 4, 1);
    border: 0.1vw solid white;
    background-color: #00c247;
}

.btn:hover{
    animation: rotate 0.5s ease 1 forwards;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        background-color: white;
        transform: rotate(0deg);
    }
}

#btn1, #btn2, #btn3{
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#btn1{
    background-image: url("stone.png");
}

#btn2{
    background-image: url("paper.png");
}

#btn3{
    background-image: url("scissors.png");
}

.footer{
    height:15vh;
}

#fireworks1, #fireworks2, #fireworks3, #fireworks4{
    position: absolute;
    height: 10vw;
    width: 10vw;
    opacity: 0%;
    background-repeat: no-repeat;
    background-image: none;
    background-position: center;
    background-size: 70%;
}

#youwin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10vw;
    width: 20vw;
    opacity: 0%;
    top:50%;
    left:50%;
    background-color: Green;
    border: 1px solid black;
    border-radius: 2vw;
    animation: resizing 2s ease infinite;
}

@keyframes resizing{
    0%{
        transform: translate(-50%, -40%) scale(1);
    }
    50%{
        transform: translate(-50%, -40%) scale(1.2);
    }
    100%{
        transform: translate(-50%, -40%) scale(1);
    }
}